#header
  width: 100%
  background-color: white
  height: 80px
  position: fixed
  margin-top: 0px
  opacity: 0.8

#header-nav
  float: right
  margin-top: 10px  
  margin-right: 20px

  ul 
    list-style: none  

    li 
      display: inline-block
      margin-right: 10px

      a
        opacity: 0.5

div.slides
  padding: 100px
  height: 400px

.center
  width: 50%
  margin: auto

#about 
  background: url(../images/rainbow-edit.png) 0% 50% no-repeat fixed
  
#projects
  background: url(../images/patterns/wood_pattern.png) repeat

#contact-me
  background: url(../images/SCsunset-edit.png) 50% 80% no-repeat fixed  






h1 
  color: lightgreen
  margin-left: 20px
  display: inline-block


a 
  color: #000
  font-size: 14px
  text-decoration: none
  font-family: 'Roboto', sans-serif

a:hover
  color: lightgreen
  opacity: 0.0


