.center
  width: 60%
  margin: auto

p 
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif
  font-weight: 300
  font-size: 20px

h2
  font-family: serif

h1 
  color: black
  margin-left: 20px
  display: inline-block
  float: left

a 
  color: #000
  font-size: 18px
  text-decoration: none
  font-family: 'Roboto', sans-serif

a:hover
  color: lightgreen
  opacity: 0.5
////////////////////////////////////////////

#header
  width: 100%
  background-color: white
  height: 80px
  position: fixed
  margin-top: 0px
  opacity: 0.9
  display: flex
  justify-content: space-between
  align-items: center

#header-icons

  ul 
    list-style: none  

    li 
      display: inline-block
      margin-right: 10px

      a
        opacity: 0.5

#header-nav  
  margin-right: 20px

  ul 
    list-style: none  

    li 
      display: inline-block
      margin-right: 10px

      a
        opacity: 0.5

//////////////////////////////////////////////

.about-tabs
  font-size: 24px

.about-tabs-container
  display: flex 
  justify-content: space-around
  width: 50%
  padding-bottom: 30px

#play-tab, #jobs-tab
  display: none

div.slides
  padding: 150px 0px 300px 0px
  height: 500px

#about 
  background: url(../images/canadainthedistance.jpg) 0% 40% no-repeat fixed
  
#projects
  background: url(../images/patterns/dark_wood.png) repeat

#contact-me
  background: url(../images/serenity.jpg) 50% 50% no-repeat fixed  



